.App {
  text-align: center;
  background: url("./Images/theatre-lights.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.App-header {
  min-height: 5vh;
  display: inline;
  font-size: calc(10px + 2vmin);
}

p.App-header-text {
  text-align: justify;
  display: inline;
  color: white;
}

h1.App-header-text {
  display: inline-block;
  font-weight: 900;
  color: rgb(210, 184, 95);
}

.App-container {
  background-color: rgba(255, 255, 255, 0.3);
}

.App-button {
  color: rgb(210, 184, 95);
}

.App-alert,
.App-modal-header,
.App-modal-body {
  background-color: rgb(210, 184, 95);
}
